@model DTO.Calificacion_DTO

<h2>@ViewBag.Titulo</h2>

@using (Html.BeginForm("Nueva_Calificacion", "Calificacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-12">
            <div>
                @Html.HiddenFor(model => model.ID_Calificacion)

                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.Calificacion)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Calificacion, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.Calificacion, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.ID_Estudiante)
                @*generamos una dropdownlist que se alimenta de la lista que pasamos por el viewbag*@
                @Html.DropDownListFor(model => model.ID_Estudiante, new SelectList(ViewBag.Lista_Estudiantes, "ID_Estudiante", "Nombre"), new { @class = "form-control" })
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.ID_Asignatura)
                @*generamos una dropdownlist que se alimenta de la lista que pasamos por el viewbag*@
                @Html.DropDownListFor(model => model.ID_Asignatura, new SelectList(ViewBag.Lista_Asignatura, "ID_Asignatura", "Nombre"), new { @class = "form-control" })
            </div>
            @*boton de guardar*@
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}