@*Reupero el viewbag*@
@*para referenciar un metodo, una variable o un elemento de codigo '@'*@
<h1>@ViewBag.Titulo</h1>
<br />
<div class="row">
    <div class="col-md-2" style="text-align:right;">
        <a href="~/Estudiante/Nuevo_Estudiante" class="btn btn-primary">Nuevo Estudiante</a>
    </div>
</div>
<br />
<div class="col-md-12 row text-center">
    @foreach (var estudiante in Model)
    {
        //Tarjeta de bootstrap
        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@estudiante.ID_Estudiante</h5>
                    <h5 class="card-title">@estudiante.Nombre</h5>
                    <h5 class="card-title">@estudiante.APaterno</h5>
                    <h5 class="card-title">@estudiante.AMaterno</h5>
                    <h5 class="card-title">@estudiante.CURP</h5>
                    <h5 class="card-title">@estudiante.Sexo</h5>
                    <h5 class="card-title">@estudiante.Telefono</h5>
                    <h5 class="card-title">@estudiante.Direccion</h5>
                    <h5 class="card-title">@estudiante.FechaNacimiento</h5>
                    <h5 class="card-title">@estudiante.ID_Grado</h5>
                    <a class="btn btn-warning" href="~/Estudiante/Editar_Estudiante/@estudiante.ID_Estudiante">Editar</a>
                    <a class="btn btn-danger" href="~/Estudiante/Confirmar_Eliminar/@estudiante.ID_Estudiante">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>