@model DTO.Tutor_DTO

@using (Html.BeginForm("Editar_Tutor", "Tutor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-12">
            <div>
                @Html.HiddenFor(model => model.ID_Tutor)

                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.Nombre)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.Nombre, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.APaterno)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.APaterno, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.APaterno, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.AMaterno)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.AMaterno, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.AMaterno, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.CURP)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.CURP, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.CURP, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.Sexo)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.Sexo, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.Telefono)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.Telefono, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.Parentesco)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Parentesco, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.Parentesco, null)
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.Direccion)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.Direccion, null)
            </div>
            <div>
                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @*Generamos la etiqueta label*@
                @Html.LabelFor(model => model.ID_Estudiante)
                @*generamos una etiqueta input*@
                @Html.TextBoxFor(model => model.ID_Estudiante, new { @class = "form-control", @type = "text" })
                @*generamos un espacio para el msg de validacion*@
                @Html.ValidationMessageFor(model => model.ID_Estudiante, null)
            </div>
            @*boton de guardar*@
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}
